body{
    background-color:navy;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: 0px 0px;
    background-size: 1000px 1900px;
}
.test{
     width:300px;
     height:300px;
     margin:100px;
     background-color:black;
     position:100px 100px;
     color:white;
     text-align:center;
     
     
}
@font-face { font-family: cyberwar;  src: url(cyberwar.ttf);
} 
p { 
font-family:cyberwar;
color:white;
background-color:black;
}
